@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #1d2223;
	margin: 0;
	background-image: url(../images/logo_side.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 20px;
}
#header {
	background-color: #A9B0B3;
	width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 25px;
	padding-left: 25px;
	height: 140px;
}

#wrapper {
	background-color: #A9B0B3;
	padding: 25px;
	width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#header #logo {
	width:484px;
	float: left;

}
#header #contact {
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	width: 200px;
	float: right;
	padding-top: 75px;
	font-size: 14px;
	letter-spacing: 0.25em;
}
a, a:visited, a:active {
	color: #20293F;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 0em;
	text-transform: none;
}
a:hover{
	color: #20293F;
	text-decoration: underline;
	font-size: 12px;
	letter-spacing: 0em;
	text-transform: none;
}
#wrapper .piece {
	text-align: center;
}
#wrapper .descleft {
	line-height: 20px;
	float: left;
	width: 45%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 25px;
	padding-left: 15px;
}
#wrapper .descright {
	line-height: 20px;
	float: right;
	width: 45%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 25px;
	padding-left: 15px;
}
#wrapper .descTitle {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
}
